@page "/"

<PageTitle>REST Countries</PageTitle>

<main class="index__main">
  <div class="index__content-container">
    <h1 class="index__title">REST Countries</h1>
    <div class="index__background-image__container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/World_map_with_points.svg" alt=""
        class="index__background-image" />
    </div>
    <p class="index__description">Find information and get knowledge about countries before you travel.</p>
    <a class="index__get-started" href="/list">Get started</a>
  </div>
  <div class="index__stats-bar-container">
    <p class="index__stats-bar__item">200+ countries</p>
    <p class="index__stats-bar__item">7 continents</p>
    <p class="index__stats-bar__item">8 billion people</p>
  </div>
</main>
<footer class="index__footer">
  <div class="index__footer-container">
    <div class="index__footer-project-info">
      <a class="index__footer-title" href="/">REST Countries</a>
      <p class="index__footer-rights">© 2023-present. All Rights Reserved.</p>
    </div>
    <div class="index__footer-links__container">
      <div class="index__footer-links">
        <p class="index__footer-links-header">Sitemap</p>
        <a class="index__footer-links-link" href="/list">Home</a>
        <a class="index__footer-links-link" href="/cointries">Countries</a>
        <a class="index__footer-links-link" href="/contact">Contact</a>
      </div>
      <div class="index__footer-links">
        <p class="index__footer-links-header">Links</p>
        <a class="index__footer-links-link" href="https://www.github.com/wojciechmarek">Github</a>
        <a class="index__footer-links-link" href="https://www.linkedin.com/in/wojciech-marek">LinkedIn</a>
        <a class="index__footer-links-link" href="mailto:marek.wojciech@outlook.com">Email</a>
      </div>
    </div>
  </div>
</footer>