@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

<main class="layout__main">
    <h1 class="layout__header">Hello World from Blazor App.</h1>
    <p class="layout__description">New features soon...</p>
</main>
