@page "/countries"

<PageTitle>Countries</PageTitle>

<rest_countries.Components.navbar.Navbar />

<main class="countries__main">
  <div class="countries__content-container">
    <h1 class="countries__title">Available countries:</h1>
    <div class="countries__list-container">
      @foreach (var country in countries)
      {
        <div class="countries__list-item">
          <h2 class="countries__list-item__common-name">@country.Name?.Common <span>@country.Flag</span></h2>
          <h5 class="countries__list-item__official-name">@country.Name?.Official</h5>
        </div>
      }

    </div>
  </div>


</main>

@code {

  class Name
  {
    public string? Common { get; set; }
    public string? Official { get; set; }
  }


  class Country
  {
    public Name? Name { get; set; }

    public string? Flag { get; set; }
  }

  private List<Country> countries = new List<Country>();

  protected override async Task OnInitializedAsync()
  {
    var client = new HttpClient();
    countries = await client.GetFromJsonAsync<List<Country>>("https://restcountries.com/v3.1/all") ?? new List<Country>();
  }
}
